


/*#00BFA6*/

html {
	scroll-behavior: smooth;
}


body {
	width: 100%;
	margin: 0;
	background: linear-gradient(
		to bottom,
		black 0,
		black 100vh,
		white 100vh,
		white 100%
	);

	
}


a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
}



button {
	color: black;
	border: #00BFA6 4px solid;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Unbounded', cursive;
	padding: 15px 30px;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;

}

@media (min-width: 800px) {
	button {
		font-size: 25px;
		padding: 20px 40px;
	}
}


button:hover {
	background-color: #00BFA6;
	color: white;
	cursor: pointer;
}




.line {
	width: 90%;
	margin: 0 auto;
	height: 6px;
	background-color: #00BFA6;
	border-radius: 10px;
	grid-area: line;
}


header {
	height: 100vh;
	font-family: 'Unbounded', cursive;
	color: white;
	display: grid;
	grid-template-rows: 10% 70% 1fr;
	grid-template-columns: 45% 1fr 45%;
	grid-template-areas:
	"name . mail"
	"title title title"
	". arrow .";


}



#name {
	grid-area: name;
	justify-self: start;
	align-self: center;
	padding: 30px;
	
}

#mail {
	grid-area: mail;
	justify-self: end;
	align-self: center;
	padding: 30px;
}

.color {
	font-weight: 400;
	color: #00BFA6 ;
}


/*.underline {
	background-image: url("images/underline.svg");
	background-position: 0 1em;
	background-repeat: no-repeat;
	background-size: 130px;
}*/


.title {
	grid-area: title;
	max-width: 60%;

	font-size: 5vh;
	font-weight: 700;

	text-align: center;
	place-self: center;
}

.arrow {
	grid-area: arrow;
	place-self: center;
	transition: top ease 0.5s;
	top: 0;
	position: relative;

	
}


.arrow:hover {
	top: 15px;
}

.arrow img {
	transform: rotate(180deg);
	height: 70px;
}


.text1 { grid-area: text1 }
.text2 { grid-area: text2 }
.img1 { grid-area: img1 }
.img2 { grid-area: img2 }
.contact { grid-area: contact }
.contact_img { grid-area: contact_img }
.line { grid-area: line }


main {
	display: grid;
	grid-template-rows: auto;
	grid-template-areas: 
	"img1"
	"text1"
	"img2"
	"text2"
	"line"
	"contact_img"
	"contact";

	justify-content: center;
	max-width: 75%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;

}

@media (min-width: 800px) {
	main {
		row-gap: 80px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"text1 img1"
		"img2 text2"
		"line line"
		"contact contact_img";

	}

}



.content {
	margin: 40px auto;
	place-self: center;
	
}


.text {
	color: black;
	font-size: 20px;
	font-weight: 200;
	text-align: center;
}

@media (min-width: 800px) {
	.text {
		font-size: 30px;
	}
}


.img {
	width: 100%;
}


